* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    padding: 30px;
	border-radius: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    width: 50%;
}

h4 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 10px;
}
header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 20px;
}

header div{
    display: flex;
    gap: 10px;
}

/* button */ .btn{
    background: rgb(27, 16, 102);
    color: white;
    width: 30px;
    height: 20px;
    font-weight: 600;
    border-radius: 3px;
}

.h5 {
    color: rgb(34, 34, 233);
    text-decoration: none;
    background: white;

}

.h5:hover {
    background: rgb(239, 235, 235);
    border-radius: 3px;
    width: 90px;
    height: 15px;
}
.name {
    font-weight: 700;
    font-style: normal;
    font-family: sans-serif;
    color: black;
}

b {
    color: rgb(46, 22, 206);
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

a {
    font-family: sans-serif;
    color: rgb(150, 150, 150);
    text-decoration: none;
}


.notificationss {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#notification {
    background: rgb(210, 210, 221);
    border-radius: 9px;
    display: flex;
    gap: 15px;
    padding: 7px 10px;
}

#notification .description{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.message{
    background: rgb(197, 197, 209);
    border-radius: 7px;
    padding: 10px;
}
 .message:hover {
    width: 450px;
    height: 80px;
    padding-top: 15px;
    transition: 3s;
    background: slategray;
    color: white;
 }
 .notifications {
    background: rgb(255, 255, 255);
    border-radius: 9px;
    display: flex;
    gap: 15px;
    padding: 7px 10px;
}

.notifications .descriptions {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
footer {
    margin-top: 60px;
}